IP_SERVIDOR=127.0.0.1
PUERTO_ESCUCHA=8000
IP_LISSANDRA=127.0.0.1
PUERTO_LISSANDRA=5003
IP_SEEDS=[127.0.0.1, 127.0.0.1]
PUERTO_DE_SEEDS=[8001, 8002]
#IP_SEEDS=[]
#PUERTO_DE_SEEDS=[]
RETARDO_ACCESO_A_MP=0
RETARDO_ACCESO_A_FS=0
TAMANIO_DE_MEMORIA=320
TIEMPO_DE_JOURNAL=60000
TIEMPO_DE_GOSSIPING=10000
NUMERO_DE_MEMORIA=1
EN_PRODUCCION=0
